@mixin nodrag() {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  user-drag: none;
  -webkit-touch-callout: none;
}

.sketch-inner {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
  cursor: crosshair;
  margin: 30px;
  @include nodrag;
}

.sketch-container {
  position: relative;
  flex: 1;
  flex-grow: 1;
  margin: 50px;
}

.sketch-overlay {
  z-index: 2 !important;
}

.sketch-body {
  flex: 1 1;
  background: aliceblue;
  display: flex;
  flex-direction: row;
  position: relative;
}

.sketch-pane {
  display: flex;
  flex: 1 1;
  border: 1px solid white;
  position: relative;
}

.resizer {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 10px;
  background: #DDD;
  z-index: 3;
  cursor: col-resize;
  @include nodrag;
}

.resize-inidicator {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 1px;
  left: 0;
  border-right: 2px solid red;
}

.sketch-shape--selected {
  stroke-width: 2;
  stroke: blue;
  fill: url(#dots-pattern);
}
